.iconContainer {
	padding: 50px 0;
}

.iconPosition {
	margin: 0 0 20px 60px;
}

.lead {
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
}

.seperator {
	height: 5px;
	border-top: 1px solid $lightGray;
	border-bottom: 1px solid $lightGray;
}